{{> head }}


{{> navbar }}

<div class="row">
    <div class="col-8">
<h1>About Page XD</h1>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta facilis amet quaerat, recusandae tempore dolores voluptatum eius aut voluptate, exercitationem cumque incidunt ea ratione nulla repellat vero, ipsa accusantium. Repellat.
Nulla fugiat animi quasi itaque, ullam inventore sit a impedit totam quis dignissimos deserunt odio eius iste! Omnis, eius nisi nemo illum similique ipsam nam debitis libero unde culpa distinctio.
Recusandae magni maiores deleniti officiis aspernatur reiciendis consequatur repellendus iste, neque voluptatem omnis dignissimos asperiores repudiandae facere distinctio! Ratione minus pariatur non, corporis placeat esse cum fuga quidem dolorum aperiam!
Aut esse fugiat harum totam voluptatem perspiciatis eaque debitis autem quos aliquid corrupti doloribus veritatis ut accusantium sit voluptate, mollitia architecto et sapiente impedit nemo officiis! Repellendus accusantium rerum saepe?
Placeat nulla adipisci sunt! Perspiciatis veniam adipisci eaque vitae ut consequuntur reiciendis molestiae enim fugiat quam, eveniet non hic veritatis id! Recusandae quis voluptas itaque repellat nostrum suscipit libero voluptatum?
Ipsa eveniet totam at nemo magni soluta eos minus obcaecati vero blanditiis ab veritatis nulla voluptatibus accusamus consequatur dolores, facere vitae ducimus porro. Tenetur eligendi modi nemo magni doloribus accusantium.
Id quo perspiciatis minima iure. Distinctio corrupti id reprehenderit ex voluptatem laboriosam fugit, deserunt quis. Suscipit dicta modi enim iure praesentium officiis, aspernatur asperiores, harum dolor cumque laborum autem libero?
Autem repellat aspernatur voluptas dolores illum voluptatibus dolorum, odio quae? Quo dolores explicabo deleniti repudiandae debitis numquam iste ea autem, consequatur, distinctio odit incidunt! Debitis inventore ullam nemo facilis quisquam?
Distinctio qui dolorem natus tempora fuga soluta accusantium illo nam optio minima nobis, ipsa a ea. Nobis quo suscipit commodi maiores, obcaecati ipsum, error recusandae itaque ipsa veritatis numquam possimus.
Aliquam minus ipsum ex doloribus minima amet ipsam nesciunt et architecto tenetur officia id quo aliquid sit, mollitia eveniet dolor corporis, magni dignissimos omnis pariatur. Commodi ipsa quod saepe quis.
    </div>
    <div class="col-4">
        <img src="assets/img/warXD.jpg" alt="war.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}